@import "./Components/normalize";
@import "./Utils/variables";
@import "./Utils/mixin";
@import "./Utils/extends";


@import "./Components/header";
@import "./Components/hero";
@import "./Components/producst";
@import "./Components/about";
@import "./Components/advantages";
@import "./Components/gallery";
@import "./Components/customerReviews";
@import "./Components/contacts";
@import "./Components/footer";



.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}