.advantages__section {
    background:  #FFF5F6;
}

.advantages{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 100px;

    &__list {
        width: 288px;
    }
    &__icon {
        height: 50px;
        width: 50px;
    }
    &__title { 
        color: #D41443;
        font-family: 'Titan One';
        font-weight: 400;
        font-size: 58px;
        line-height: 66px;
        letter-spacing: 0.04em;
    }
    &__text {
        font-family: 'DM Sans';
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.02em;
    }  
}

@media screen and (min-width: 320px) {
    .advantages{
        justify-content: center;
        margin-right: 0;
        &__list {
            width: 280px;
        }
        &__title { 
            font-size: 36px;
            line-height: 41px;
            text-transform: uppercase;
            margin: 10px 0;
        }
        &__text {
            font-size: 12px;
            line-height: 20px;
            margin-bottom: 30px;
        } 
    }   
}

@media screen and (min-width: 768px) {
    .advantages{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-right: 173px;

        &__list {
            width: 174px;
        }
        &__title { 
            font-size: 48px;
            line-height: 55px;
            text-transform: none;
            margin: 10px 0;
        }
        &__text {
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 30px;
        } 
    }   
}