.contacts{
    font-family: 'DM Sans', sans-serif;
    max-width: 100%;
    background-color: #FFF5F6;
}
.ListsCardContacts{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.cardContacts{
    min-height: 538px;
    width: 30.6%;

    border-radius: 0px 0px 4px 4px;
    background-color: #fff;
    box-shadow: 0px 2px 2px rgba(133, 138, 143, 0.7);
    margin: 1.333%;
}
.card{

    margin: 10px auto;
    width: 75.2%;
    min-height: 179px;
    border-bottom: 1px solid #e1e1e1;

    &_title{
        font-weight: 100;
        font-size: 16px;
        color: $color3;
        background-color: $color7;
        width: 75px;
        height: 28px;
        border-radius: 7px;
        margin-top: 40px;

        @include flex-center;
    }
    &_title2{
        font-weight: 100;
        font-size: 16px;
        color: $color3;
        background-color: $color8;
        width: 138px;
        height: 28px;
        border-radius: 7px;
        margin-top: 40px;

        @include flex-center;
    }
    
    &_Regular{
        color: $color5;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.5px;
        line-height: 30px;
        margin-top: 4px;
        padding-bottom: 32px;
    }
    &_Bold{
        font-weight: 600;
        font-size: 16px;
        color: $color4;
        letter-spacing: 0.6px;
        line-height: 37px;
        margin-top: 27px;
    }

}
.card2{
    display: flex;
    flex-wrap: wrap;
    margin: 37px;
    width: 75.2%;
    height: 165px;
    border-bottom: 1px solid #e1e1e1;

    &_Bold{
        font-weight: 600;
        font-size: 16px;
        color: $color4;
        letter-spacing: 0.6px;
        
        
    }
    &_timeZone{
        margin-top: -20px;
        color: $color6;
        font-weight: 500;
        font-size: 16px;

    }
}
.card3{
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    width: 75.2%;
    height: 50px;

    &_contact{
        color: $color5;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.5px;
        padding-bottom: 10px;
    }
    &_contact2{
        color: $color5;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.5px; 
        padding-bottom: 30px;
    }
}

.contactButtons{
    margin: 40px 0px;
    width: 100%;

    @include flex-center;

    &_locations{
        width: 198px;
        height: 44px;
        background-color: $color2;
        color: $color3;
        border-radius: 22px;

        @include flex-center;
    }
    &_Locations:hover,
    &_locations:focus{
        background-color: $color3;
        color: $color2;
    }
    &_franchise{
        width: 168px;
        height:44px;
        background-color: $color3;
        color: $color2;
        border-radius: 22px;

        @include flex-center;
    }
    &_franchise:hover,
    &_franchise:focus{
        background-color: $color2;
        color: $color3;
    }
}
@media (max-width: 1001px){
    .card{
    
        &_title{
            font-size: 14px;

        }
        &_title2{
            font-size: 14px;
        }
        
        &_Regular{
            font-size: 14px;

        }
        &_Bold{
            font-size: 14px;
        }
    
    }
    .card2{
    
        &_Bold{
            font-size: 14px;

        }
        &_timeZone{
            font-size: 14px;
    
        }
    }
    .card3{
    
        &_contact{

            font-size: 14px;
        }
        &_contact2{

            font-size: 14px;
        }
    }
}
@media (max-width: 739px){
    .cardContacts{
        display: block;
        min-height: 538px;
        width: 100%;
        margin: 1.333%;
    }
    
    .card2{
        display: flex;

        &_Bold{
            font-size: 14px;
            margin-right: 237px;
            margin-left: 50px;
        }
        &_timeZone{
            font-size: 14px;
            margin-left: 50px;
    
        }
    }
    .card3{
    
        &_contact{
            font-size: 14px;
            margin-right: 255px;

        }
        &_contact2{
            font-size: 14px;
        }
    }
}
@media (max-width: 534px){
    .cardContacts{
        margin: 10px auto;
        width: 280px;
    }
    
    .card2{
        display: flex;

        &_Bold{
            font-size: 14px;
            margin-right: 0px;
            margin-left: 0px;
        }
        &_timeZone{
            font-size: 14px;
            margin-left: 0px;
    
        }
    }
    .card3{
        &_contact{
            font-size: 14px;
            margin-right: 0px;

        }
        &_contact2{
            font-size: 14px;
        }
    }
    .contactButtons{
        margin: 40px auto 0px auto;
        width: 100%;
        display: block;

        &_locations{
            width: 162px;
            margin: 5px auto;
        }
        &_franchise{
            width: 162px;
            margin: 5px auto 0px auto;
        }
    }

}