.contacts{
    display: flex;
}
.ListsCardContacts{
    display: flex;
}
.cardContacts{
    height: 538px;
    width: 368px;
    border-radius: 0px 0px 4px 4px;
    background-color: #fff;
    box-shadow: 0px 2px 2px rgba(133, 138, 143, 0.7);
    margin: 15px;
}
.titleCard{
    color: $color3;
}
.cardBold{
    color: $color4;
}
.cardRegular{
    color: $color5;
}
.timeZone{
    color: $color6;
}
