/*MediaQueris y medidas base */

.customerReviews {
    padding-top: 40px;
    padding-bottom: 43px;
    border: solid 1px rgb(255, 0, 157) ;
}

@media screen and (min-width: 768px) {
    .customerReviews {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media screen and (min-width: 1200px) {
    .customerReviews {
        padding-top: 61px;
        padding-bottom: 60px;
    }
}

.swiper-slide {
    position: relative;
}

.swiper-slide__photo {
    display: flex;
    justify-content: center;
    margin-bottom: 29px;
}

@media screen and (min-width:768px) {
    .swiper-slide__photo {
        margin-bottom: 19px;
    }
}

@media screen and (min-width:1200px) {
    .swiper-slide__photo {
        margin-bottom: 15px;
    }
}

.swiper-slide__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 2.583;
    text-align: center;
    overflow: auto;
}

.swiper-slide__gradient {
    position: relative;
    padding: 3px 16px 6px 7px;
    background-image: repeating-linear-gradient(
      transparent 0px,
      transparent 30px,
      #e1e1e1 30px,
      #e1e1e1 31px
    );
}

@media screen and (min-width:320px ) {
    .swiper-slide__gradient{
        padding: 5px 16px 6px 7px;
    } 
}

@media screen and (min-width:768px ) {
    .swiper-slide__gradient{
        padding:  3px 44px 6px 20px;
    } 
}

@media screen and (min-width:1200px ) {
    .swiper-slide__gradient{
        padding:1px 35px 1px 28px;
    } 
}

.swiper-slide__post {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 50px 30px 50px;
    width: 280px;
    height: auto;
    background: #fafafa;


}


@media screen and (min-width: 320px) {
    .swiper-slide__post{
        width: 440px;
    } 
}


@media screen and (min-width: 768px) {
    .swiper-slide__post{
        padding: 46px 36px 28px 60px;
        width: 620px;
    } 
}

@media screen and (min-width: 1200px) {
    .swiper-slide__post{
        padding: 46px 54px 32px 59px;
        width: 926px;
    } 
}

.swiper-slide__post::before {
    position: absolute;
    top: 26px;
    left: 61px;
    content: url(.../images/rewiews-post-icon.svg);
}

/*
@media screen and (min-width: ) {
    .swiper-slide__post{
    
    } 
}


*/