.footer{
    display: flex;
    width: 100%;
    height: 390px;
    max-width: 1200px;
    min-width: 320px;
    margin: auto;
    justify-content: center;
    
}

.container {
    background-color: $color9;
    width: 320px;
    max-width: 1200px;
    min-width: 320px;

}

.container__footer-box-title{
    width: 232px;
    height: 134px;
    margin: 0 66px 46px 22px;
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.container__footer-box-title .single-line-title--color {
    color: $color6;
    font-weight: 400;
    font-family: "Titan One";
    font-style: "Regular";
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    vertical-align: top;
    text-transform: uppercase;

}

.container__footer-box-title .single-line-second {
    color: $color2;
    font-weight: 400;
    font-family: "Titan One";
    font-style: "Regular";
    font-size: 34px;
    line-height: 100%;
    letter-spacing: 4%;
    text-align: left;
    vertical-align: top;
    text-transform: uppercase;

}

.single-line-second{
    margin-top: 16px;
    display: block;

}

.container__footer-box-social-list {
    margin-left: 70px;
    margin-right: 20px;
    width: 240px;
    
}

.container__footer-social-list{
    display: flex;
    justify-content: flex-end;
    gap: 33px;

}

.container__footer-contact{
    font-family: "DM Sans";
    font-style: "Bold";
    font-size: 12px;
    line-height: 22px;
    line-height: 186%;
    display: flex;
    margin-top: 30px;
    justify-content:  flex-end;;
    align-items: end;
    font-weight: 700;

}

.container__footer-contact {
    color:$color4;
}

.footer-free-contact {
    color: $color2;
}

.container__footer-box-rights-reserved {
    font-size: 14px;
    text-align: center;
    color: $color5;

}

.container__footer-form-icon {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    
}

.container__footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: $color6;
    transition: background-color 0.3s ease;
    fill: $color3;

}

.container__footer-icon:hover,
.container__footer-icon:focus{
    background-color: $color2;

}

.container__footer-box-rights-reserved {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 320px;
    height: 50px;
    margin-top:65px;
    padding: 0 100px;
    border-top: 1px solid $color-10;


}