.gallery {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    //   gap: 8px;
    grid-auto-rows: minmax(70%, auto);
    padding-top: 10%;
    border-radius: 20px;

    .gallery__image-one {
        grid-column: 3/7;
        grid-row: 1;
    }

    .gallery__image-two {
        margin-top: 5%;
        grid-column: 2/ 7;
        grid-row: 1;
    }

    .gallery__image-three {
        margin-top: 7.5%;
        grid-column: 1/7;
        grid-row: 1;
    }

    .gallery__image-four {
        margin-top: -5%;
        grid-column: 2/ 7;
        grid-row: 2;
    }

    .gallery__image-five {
        grid-column: 3/7;
        grid-row: 2;
    }

    .gallery__image-six {
        margin-top: -15%;
        grid-column: 5/ 7;
        grid-row: 2;
    }

    .gallery__image-seven {
        margin-top: 10%;
        grid-column: 5/ 7;
        grid-row: 1;
    }

    .gallery__image-eight {
        margin-top: 9%;
        grid-column: 6/ 7;
        grid-row: 1;
    }

    .gallery__image-nine {
        margin-top: 45%;
        grid-column: 7/ 7;
        grid-row: 1;
    }

    .gallery__image-ten {
        margin-top: 55%;
        grid-column: 6/ 7;
        grid-row: 1;
    }

    .gallery__image-one,
    .gallery__image-two,
    .gallery__image-three,
    .gallery__image-four,
    .gallery__image-five,
    .gallery__image-six,
    .gallery__image-seven,
    .gallery__image-eight,
    .gallery__image-nine,
    .gallery__image-ten {
        transition: transform 0.2s;
    }

    .gallery__image-two:hover,
    .gallery__image-three:hover,
    .gallery__image-four:hover,
    .gallery__image-five:hover,
    .gallery__image-six:hover,
    .gallery__image-seven:hover,
    .gallery__image-eight:hover,
    .gallery__image-nine:hover,
    .gallery__image-ten:hover {
        transform: scale(1.2);
    }

    .gallery__image-one:hover {
        transform: scale(1.2);
    }
}

@include screen-480 {
    .gallery {
        .gallery__image-one {
            width: 89.4px;
            height: 89.4px;
        }

        .gallery__image-two {
            width: 43.59px;
            height: 43.59px;
        }

        .gallery__image-three {
            width: 43.59px;
            height: 43.59px;
        }

        .gallery__image-four {
            width: 43.59px;
            height: 43.59px;
        }

        .gallery__image-five {
            width: 43.59px;
            height: 43.59px;
        }

        .gallery__image-six {
            width: 43.59px;
            height: 43.59px;
        }

        .gallery__image-seven {
            width: 43.59px;
            height: 43.59px;
        }

        .gallery__image-eight {
            width: 43.59px;
            height: 43.59px;
        }

        .gallery__image-nine {
            width: 43.59px;
            height: 43.59px;
        }

        .gallery__image-ten {
            width: 43.59px;
            height: 43.59px;
        }
    }
}

@include screen-768 {
    .gallery {
        .gallery__image-one {
            width: 214.55px;
        }

        .gallery__image-two {
            width: 104.62px;
        }

        .gallery__image-three {
            width: 104.62px;
        }

        .gallery__image-four {
            width: 104.62px;
        }

        .gallery__image-five {
            width: 104.62px;
        }

        .gallery__image-six {
            width: 104.62px;
        }

        .gallery__image-seven {
            width: 104.62px;
        }

        .gallery__image-eight {
            width: 104.62px;
        }

        .gallery__image-nine {
            width: 104.62px;
        }

        .gallery__image-ten {
            width: 104.62px;
        }
    }
}