.hero {
    display: flex;
    background-color: $color1;
    
    &_nav{
        display: flex;
    }
}
.HeroContent{
  background-color: $color1;

}
.slogan{
  margin: 20px 0px 0px 17px;
  width: 277px;
  z-index: 1;
  
  &_text1{
    font-family: 'Titan One', cursive;
    font-size: 38px;
    font-weight: 400;
    color: $color3;
    
  }
  &_text2{
    font-family: 'Titan One', cursive;
    line-height: 50px;
    font-weight: 400;
    font-size: 58px;
    color: $color2;
    margin-bottom: 25px;
    
  }
}
.jarofMilk{
  display: flex;
  flex-wrap: wrap;
  width: 413px;
  @include flex-center;

  &_image{
    display: flex;
    flex-wrap: wrap;
    background-image: url();
    background-size: cover;
    width: 213px;
    height: 216px;
  }
  &_text{
    font-size: 14px;
    color: $color3;
    width: 190px;
    height: 80px;
  }
  
}

.material-symbols-outlined{
  color: $color2;
  background-color: $color3;
  border-radius: 100%;
  width: 26px;
  margin-top: 20px;
  
  @include flex-center;
}
.iceCreamCone{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 600px;
  flex-wrap: wrap;
  z-index: 1;
  
  &_image{
    display: flex;
    flex-wrap: wrap;
    background-image: url(../../images/iceCreamCone.png);
    background-size: cover;
    width: 236px;
    height: 557px;
  }
}
.heroRigth{
  
  text-align: end;
  padding: 9px 33px 0px 0px;
  z-index: 1;
}
.textBubble{
  justify-content: end;
  
  &_Top{
    padding-top: 22px;
    font-family: 'Titan One', cursive;
    font-size: 46px;
    color: $color2;
  }
  &_Buttom{
    font-size: 14px;
    color: $color3;
    font-weight: 100;
  }
  &-circle2{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: $color3;
    border-radius: 100%;
    margin-left: 273px;
    margin-top: -77px;
    margin-bottom: 77px;
  }
  &-circle3{
    width: 30px;
    height: 30px;
    background-color: $color3;
    border-radius: 100%;
    margin-left: 273px;
    margin-top: -77px;
    margin-bottom: 77px;
  }
}

.imageSoTasty{
  padding-top: 65px;
  justify-items: end;

  &_image{
    display: flex;
    flex-wrap: wrap;
    background-image: url(../../images/SoTastyPicture.png);
    background-size: cover;
    width: 304px;
    height: 241px;
  }
}
//////
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 10;
  transition: opacity .2s cubic-bezier(0.4, 0, 0.2, 1);

  @include flex-center;
  
}
.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}
.modalForm {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  background-color: $color1;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  transform: translateY(0);
  transition: transform .2s cubic-bezier(0.4, 0, 0.2, 1);
}
.modalForm.is-hidden {
  transform: translateY(200px);
}
.Formtext{
  height: 23px;
  width: 448px;
}
.titleForm{
  font-family: 'Titan One', cursive;
  display: flex;
  justify-content: center;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: $color2;
  width: 100%;
}
.closebutton{
  display: flex;
  position: absolute;
  right: 10px;
  top: 10px;
}
.buttonFormClose{
  width: 30px;
  height: 30px;
  background-color: $color1;
  border: 1px solid #ffd4d4dc;
  border-radius: 100%;
  
  @include flex-center;
}
.iconClose{
  display: flex;
  width: 20px;
  height: 20px;
  fill: $color2;
}
.buttonFormClose:hover .iconClose{
  cursor: pointer;
  fill: $color1;
}
.buttonFormClose:focus .iconClose{
  cursor: pointer;
  fill: $color1;
}
.labelForm{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 40px;
  margin: 9px 0px;
  width: 448px;
  height: 40px;
  font-size: 12px;
  color: $color2;
}
.iconForm{
  position: absolute;
  transform: translateY(50%);
  width: 18px;
  height:18px;
  margin-left: 12px;
  top: 19px;
  fill: $color2;
}
.labelForm:hover .iconForm{
  fill: $color1;
  transition: 0.5s;
  cursor: text;
}
.labelForm:focus .iconForm{
  fill: $color1;
  transition: 0.5s;
  cursor: pointer;
}
.labelForm:valid .iconForm{
  fill: $color1;
  transition: 0.5s;
  cursor: pointer;
}
.inputForm{
  border: solid 1px #21212120;
  border-radius: 4px;
  margin: 4px 0px;
  width: 448px;
  height: 40px;
  padding: 12px 0px 12px 42px;
  outline: none;
}
.inputForm:invalid{
  border: solid 1px #c94747;
}
.inputForm:hover,
.inputForm:focus{
  border: solid 1px $color1;
  transition: 0.5s;
  cursor: text;
}
.inputFormText{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  text-align: none;
  border: solid 1px #21212120;
  border-radius: 4px;
  padding: 10px 0px 90px 10px;
  margin: 5px 0px;
  top: 30px;
  width: 448px;
  height: 120px;
}
.inputFormText:hover,
.inputFormText:focus{
  border: solid 1px $color1;
}
.labelFormText{
  margin-top: 10px;
  font-size: 12px;
  color: $color2;
}
.formHero{
  display: flex;
  margin-bottom: 37px;
}

.formHero1{
  display: flex;
  flex-wrap: wrap;
  padding-right: 12px;

  &_button{
    background-color: $color2;
    color: $color3;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 107px;
    height: 40px;
    justify-content: center;
    border-radius: 20px;
  }
  &_button:hover,
  &_button:focus{
    cursor: pointer;
    background-color: #fd2465;
    box-shadow: 0px 2px 5px rgba(133, 138, 143, 0.7);
  }
}

.formHero2{
  width: 107px;

  &_button{
    background-color: $color3;
    color: $color2;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 141px;
    height: 40px;
    justify-content: center;
    border-radius: 20px;
  }
  &_button:hover,
  &_button:focus{
    cursor: pointer;
    background-color: #fd2465;
    color: $color3;
    box-shadow: 0px 2px 5px rgba(133, 138, 143, 0.7);
  }
}

.formClose{
  display: flex;
  position: relative;
  top: 11px;
  justify-content: center;
  width: 100%;

  &_button{
    background-color: $color2;
    color: $color3;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.06em;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
  }
  &_button:hover,
  &_button:focus{
    background-color: #fd2465;
    color: $color3;
  }
}

  
.menuNavIcon:hover,
.menuNavIcon:focus {
  fill: $color1;
}
  
.circle1{
  top: 5%;
  right: 25%;
  width: 534px;
  height:534px;
  background-color: $color6;
  border-radius: 100%;
  position: absolute;
}

  
  ////
  /// 
  
@media (max-width: 1001px){
  .slogan{
    
    &_text1{
      font-size: 22.5px;
      
    }
    &_text2{
      font-family: 'Titan One', cursive;
      line-height: 50px;
      font-weight: 400;
      font-size: 58px;
      color: $color2;
      margin-bottom: 17px;
      
    }
  }
  .formHero{
    display: flex;
    margin-bottom: 10px;
  }

  .jarofMilk{
    &_image{
      width: 152px;
      height: 154px;
    }
  }
  .iceCreamCone{
    box-sizing: border-box;
    margin-left: 80px;

    &_image{
      width: 143px;
      height: 336px;
    }
  }
  .heroRigth{
    padding: 9px 33px 0px 0px;

  }
  .imageSoTasty{
    display: flex;
    padding-top: 30px;
    justify-content: end;

    &_image{
      width: 190px;
      height: 150px;
    }
  }
  .textBubble{
    
    &_Top{
      padding-top: 7px;
      font-size: 28px;
    }
    &-circle2{
      width: 17px;
      height: 17px;
      margin-left: 180px;
      margin-top: -56px;
      margin-bottom: 56px;
    }
    &-circle3{
      width: 17px;
      height: 17px;
      background-color: $color3;
      border-radius: 100%;
      margin-left: 180px;
      margin-top: -56px;
      margin-bottom: 56px;
    }
  }
  .circle1{
    top: 5%;
    right: 25%;
    width: 335px;
    height:335px;
  }
}
@media (max-width: 744px){
  .jarofMilk{
    display: none;
  }
  .heroRigth{
    display: none;
  }
  .iceCreamCone{
    width: 171px;
    height: 410px;
    position: absolute;
    
    &_image{
      width: 171px;
      height: 410px;
    }
  }
  .slogan{
    text-align: center;
    margin: 140px 0px 0px;
    width: 100%;
    z-index: 2;


    &_text2{
      font-size: 48px;
    }
  }
  .formHero{
    width: 92%;
    margin-bottom: 37px;

    @include flex-center;
  }
  .circle1{
    overflow: hidden;
    top: 15%;
    right: 0;
    left: 10%;
    width: 288px;
    height:346px;
  }
  .HeroContent{
    height: 410px;
  }
}