.hero {
    display: flex;
    background-color: $color1;
    
    &_nav{
        display: flex;
    }
}
.HeroContent{
  background-color: $color1;
  height: 540px;
}
.slogan{
  width: 277px;
  

  &_text1{
    font-family: 'Titan One', cursive;
    font-size: 38px;
    font-weight: 400;
    color: $color3;
    
  }
  &_text2{
    font-family: 'Titan One', cursive;
    font-weight: 400;
    font-size: 58px;
    color: $color2;
    
  }
}
.textHero{
  font-size: 15px;
  color: $color3;
}
.textBubbleTop{
  font-family: 'Titan One', cursive;
  font-size: 46px;
  color: $color2;
}
.texBubbleButtom{
  font-size: 14px;
  color: $color3;
}
//////
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 10;
  transition: opacity .2s cubic-bezier(0.4, 0, 0.2, 1);

  @include flex-center;
  
}
.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}
.modalForm {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  background-color: #fff;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  transform: translateY(0);
  transition: transform .2s cubic-bezier(0.4, 0, 0.2, 1);
}
.modalForm.is-hidden {
  transform: translateY(200px);
}
.Formtext{
  height: 23px;
  width: 448px;
}
.titleForm{
  display: flex;
  justify-content: center;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 20px;
  width: 100%;
}
.closebutton{
  display: flex;
  position: absolute;
  right: 10px;
  top: 10px;
}
.buttonFormClose{
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #00000010;
  border-radius: 100%;
  
  @include flex-center;
}
.iconClose{
  display: flex;
  width: 20px;
  height: 20px;
  fill: #000000;
}
.buttonFormClose:hover .iconClose{
  cursor: pointer;
  fill: $color1;
}
.buttonFormClose:focus .iconClose{
  cursor: pointer;
  fill: $color1;
}
.labelForm{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: -5px;
  margin: 9px 0px;
  width: 448px;
  height: 40px;
  font-size: 12px;
  color: #757575;
}
.iconForm{
  position: absolute;
  transform: translateY(50%);
  width: 18px;
  height:18px;
  margin-left: 12px;
  top: 19px;
}
.labelForm:hover .iconForm{
  fill: $color1;
  transition: 0.5s;
  cursor: text;
}
.labelForm:focus .iconForm{
  fill: $color1;
  transition: 0.5s;
  cursor: pointer;
}
.labelForm:valid .iconForm{
  fill: $color1;
  transition: 0.5s;
  cursor: pointer;
}
.inputForm{
  border: solid 1px #21212120;
  border-radius: 4px;
  margin: 4px 0px;
  width: 448px;
  height: 40px;
  padding: 12px 0px 12px 42px;
  outline: none;
}
.inputForm:invalid{
  border: solid 1px #c94747;
}
.inputForm:hover,
.inputForm:focus{
  border: solid 1px $color1;
  transition: 0.5s;
  cursor: text;
}
.inputFormText{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  text-align: none;
  border: solid 1px #21212120;
  border-radius: 4px;
  padding: 10px 0px 90px 10px;
  margin: 5px 0px;
  width: 448px;
  height: 120px;
}
.inputFormText:hover,
.inputFormText:focus{
  border: solid 1px $color1;
}
.labelFormText{
  font-size: 12px;
  color: #757575;
}


.buttonFormHero1{
  display: block;
}
.buttonHero1{
  background-color: $color2;
  color: $color3;
  font-size: 14px;
  display: flex;
  align-items: center;
  width: 107px;
  height: 40px;
  justify-content: center;
  border-radius: 20px;
}
.buttonHero1:hover,
.buttonHero1:focus{
  cursor: pointer;
  background-color: #fd2465;
  box-shadow: 0px 2px 5px rgba(133, 138, 143, 0.7);
}
.buttonFormHero2{
  width: 107px;
}
.buttonHero2{
  background-color: $color3;
  color: $color2;
  font-size: 14px;
  display: flex;
  align-items: center;
  width: 138px;
  height: 40px;
  justify-content: center;
  border-radius: 20px;
}
.buttonHero2:hover,
.buttonHero2:focus{
  cursor: pointer;
  background-color: #fd2465;
  color: $color3;
  box-shadow: 0px 2px 5px rgba(133, 138, 143, 0.7);
}
.buttonFormCloseSend{
  display: flex;
  position: relative;
  top: 11px;
  justify-content: center;
  width: 100%;
}
.buttonSend{
  background-color: #2196f3;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  border-radius: 5px;
}



  
  .menuNavIcon:hover,
  .menuNavIcon:focus {
    fill: $color1;
  }
  .nav {
    display: flex;
    padding-left: 73px;

    &_border{
      border-bottom:1px solid #fff;
    }

    &_site {
      font-size: 14px;
      font-weight: 500;
      line-height: auto;
      letter-spacing: 0.02em;
      text-decoration: none;
      color: $color2;
      padding-right: 50px;
      
    }
    &_site:hover,
    &_site:focus {
      color: $color1;
      transition: 0.5s;
      cursor: pointer;
    }
    
    &_current {
      font-size: 14px;
      font-weight: 500;
      line-height: auto;
      letter-spacing: 0.02em;
      text-decoration: none;
      color: $color1;
      border-bottom: 5px solid $color1;
      padding-bottom: 27px;
      padding-right: 50px;
    }
  }
  
  
  
  ////**//js nav-->
  /// 
  ///   ////**//body-->
  
  
  