

.products {
  .description_title {
    display: flex;
    justify-content: center;
    font-family: "titan one";
    color: $color6;
    text-transform: uppercase;
    margin-top: 61px;
    font-size: 30px;
  }

  .title_products {
    display: flex;
    justify-content: center;
    font-family: "titan one";
    color: $color2;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 20px;
    font-size: 58px;
    // line-height: 66px;
  }

  .all_products {
    display: flex;
    margin-top: 281px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 60px;
    justify-content: space-between;
  }

  .product1 {
    display: block;
    left: 10px;
    top: 10px;
    background-color: $color1;
    width: 30.6%;
    height: 535px;
    border-radius: 24px;
    list-style: none;

    &_image {
      background-image: url(../../image/product1.png);
      background-size: cover;
      width: 368px;
      height: 394px;
      position: absolute;
      top: 195px;
    }
  }

  .product1_title {
    display: block;
    @extend %decoration_title;
    width: 368px;
    height: 34px;
  }

  .product1_text {
    @extend %decoration_text;
  }

  .points_icon {
    @extend %decoration_points;
  }

  .btn_product {
    @extend %btn_product;
  }

  .product2 {
    background-color: $color7;
    width: 30.6%;
    height: 535px;
    border-radius: 24px;
    list-style: none;

    &_image {
      background-image: url(../../image/product2.png);
      background-size: cover;
      position: absolute;
      width: 368px;
      height: 394px;
      top: 195px;
    }
  }

  .product2_title {
    display: block;
    @extend %decoration_title;
    width: 368px;
    height: 34px;
  }

  .product2_text {
    @extend %decoration_text;
  }

  .product3 {
    background-color: $color8;
    width: 30.6%;
    height: 535px;
    border-radius: 24px;
    list-style: none;

    &_image {
      background-image: url(../../image/product3.png);
      background-size: cover;
      position: absolute;
      width: 368px;
      height: 394px;
      top: 195px;
    }
  }

  .product3_title {
    display: block;
    @extend %decoration_title;
    width: 368px;
    height: 34px;
  }

  .product3_text {
    @extend %decoration_text;
  }
}

@media (max-width: 900px) {
  .product1 {
    &_image {
      width: 224px;
      height: 224px;
    }
  }
}

@media (max-width: 500px) {
  .product1 {
    &_image {
      width: 280px;
      height: 280px;
    }
  }
}